body {
    font-family: 'DM Sans', sans-serif;
    
}

.header, .footer{
    background: rgba(255, 113, 67, 0.27);
    height: 145px;
}
.container {
    max-width: 1070px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.container_border, .container_footer{
    align-items: center;
    height: 145px;
}

.div_header {
    width: 330px;
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;letter-spacing: -0.468947px;
    color: #696871;
}

.two_button {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.section1 {
margin-top: 104px;
align-items: center;
}

.section2 {
    margin-top: 85px;
    align-items: center;
    }

.button {
    height: 60px;
    width: 212px;
    border-radius: 10px;
    font-weight: 700;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: -0.531474px;
    border: none;
    cursor: pointer;
}

.button_orange {
    background: #FF7143;
    color: #FFFFFF;
    
}

.button_violet {
    background: #5454D4;
    color: #FFFFFF;
    
}

.button_white {
    background: #FFFFFF;
    color: #5454D4;
    border: 1px solid #5454D4; 
}

.button_price {
    margin-top: 33px;
    
}

.li_header:hover {
    color: #19191B;
    cursor: pointer;
}

.h1 {
    width: 467.24px;
    height: 231px;
    font-weight: 700;
    font-size: 80px;
    line-height: 77px;
    letter-spacing: -2.50105px;
    color: #19191B;
}

.h2 {
    font-weight: 700;
    font-size: 50px;
    line-height: 57px;
    letter-spacing: -1.56316px;
    color: #19191B;
}

.h3 {
    font-weight: 700;
    font-size: 60px;
    line-height: 70px;
    letter-spacing: -1.87579px;
    color: #19191B;
    margin-top: 85px;
    margin-bottom: 98px;
}

.p {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.625263px;
    color: #696871;
    margin-top: 30px;
}

.div_section1 {
 width: 467px;
}

.input {
    width: 302px;
    height: 60px;
    border: 1px solid #7087FF;
    border-radius: 10px;
    box-sizing: border-box;
    font-weight: 700;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: -0.531474px;
    color: #000000;
    padding-left: 14px;
}

.input::placeholder {
    font-weight: 700;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: -0.531474px;
    color: #000000;
}

.subscription_index {
    width: 556px;
    height: 155px;
}

.input_button {
    margin-top: 38px;
    display: flex;
    justify-content: space-between;
}
.price {
    width: 330px;
    height: 440px;
    background: #e2e1e1;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 132px;
}



.li_price {
    font-weight: 400;
    font-size: 17px;
    line-height: 50px;
    letter-spacing: -0.531474px;
    color: #696871;
}


.li_price_first {
    font-weight: 400;
    font-size: 17px;
    line-height: 50px;
    letter-spacing: -0.531474px;
    color: #696871;
    padding-top: 34px;
}

.li_big {
    font-weight: 700;
    font-size: 60px;
    line-height: 56px;
    letter-spacing: -1.03448px;
    color: #1D293F;
    padding-top: 22px;
}

.price:hover {
    background: #FF7143;
    box-shadow: 0px 32px 34px rgba(252, 116, 67, 0.8);
    transition: 500ms;
    
}

.price:hover .li_price, .price:hover .li_price_first, .price:hover .li_big {
    color: #FFFFFF;
}

.price:hover .button_price {
    background: #9F3919;
    color: #FFFFFF;
    border: none;
    
}

@media screen and (max-width: 375px) {

.container {
    max-width: 375px;
    flex-direction: column;
}
.div_section1 {
    max-width: 375px;
}
.h1 {
    font-size: 40px;
    margin-top: -60px;
    padding: 0 20px 0 20px;
    line-height: 50px;
    max-width: 335px;
}
.p {
    padding: 0 20px;
    margin-top: -10px;
    max-width: 335px;
}
.button {
    width: 150px;
}
.img_Hero_3D {
    width: 100%;
    margin-top: 20px;
    
}
.section2 {
    flex-direction: column-reverse;
}
.subscription_index {
    max-width: 375px;
    margin-top: -30px;
    font-size: 40px;
}
.img_Hero_3D2 {
    margin-top: 130px;
}
.h2 {
    padding: 0 20px;
    margin-top: -50px;
}
.input {
    margin-bottom: 20px;
}
.input_button {
    flex-direction: column;
}
.h3 {
    padding: 0 20px;
}
.container_price {
    flex-direction: column;
}
.price {
    margin: 20px auto;
}
.footer {
    margin-top: 80px;
}
.div_footer {
    margin-top: -50px;
    margin-bottom: 50px;
}
}